<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header"> 
                <h6> <span class="badge text-bg-secondary">1</span> Lorem Ipsum</h6>
            </div>
            <div class="card-body">
              <p class="card-text"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia beatae architecto eligendi ut illum magnam mollitia voluptatibus et! Sit mollitia quis repudiandae? Tempora laudantium reprehenderit iure et obcaecati soluta corporis!</p>
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header"> 
                <h6> <span class="badge text-bg-secondary">1</span> Lorem Ipsum</h6>
            </div>
            <div class="card-body">
              <p class="card-text"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia beatae architecto eligendi ut illum magnam mollitia voluptatibus et! Sit mollitia quis repudiandae? Tempora laudantium reprehenderit iure et obcaecati soluta corporis!</p>
            </div>
          </div>
    </div>
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-header"> 
                <h6> <span class="badge text-bg-secondary">1</span> Lorem Ipsum</h6>
            </div>
            <div class="card-body">
              <p class="card-text"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia beatae architecto eligendi ut illum magnam mollitia voluptatibus et! Sit mollitia quis repudiandae? Tempora laudantium reprehenderit iure et obcaecati soluta corporis!</p>
            </div>
          </div>
    </div>
    
    
    
</div>
<div class="row pt-3">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header"> 
                <h6> <span class="badge text-bg-secondary">1</span> Lorem Ipsum</h6>
            </div>
            <div class="card-body">
              <p class="card-text"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia beatae architecto eligendi ut illum magnam mollitia voluptatibus et! Sit mollitia quis repudiandae? Tempora laudantium reprehenderit iure et obcaecati soluta corporis!</p>
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header"> 
                <h6> <span class="badge text-bg-secondary">1</span> Lorem Ipsum</h6>
            </div>
            <div class="card-body">
              <p class="card-text"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia beatae architecto eligendi ut illum magnam mollitia voluptatibus et! Sit mollitia quis repudiandae? Tempora laudantium reprehenderit iure et obcaecati soluta corporis!</p>
            </div>
          </div>
    </div>
    
    <div class="col-md-4 pt">
        <div class="card">
            <div class="card-header"> 
                <h6> <span class="badge text-bg-secondary">1</span> Lorem Ipsum</h6>
            </div>
            <div class="card-body">
              <p class="card-text"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia beatae architecto eligendi ut illum magnam mollitia voluptatibus et! Sit mollitia quis repudiandae? Tempora laudantium reprehenderit iure et obcaecati soluta corporis!</p>
            </div>
          </div>
    </div>
    
    
    
</div>