<div class="card  h-100">

    <div class="card-body">
      <h1 class="card-title h1">Lorem Ipsum <br> Dolor  Sit Amet</h1>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore exercitationem animi magnam quaerat odit quod dolorem expedita error debitis, quas sequi aliquid enim quibusdam voluptas voluptatibus! Odit provident adipisci saepe..</p>

      <div class="d-grid gap-2">
        <button class="btn bouton" type="button">CTA</button>
     
      </div>
    </div>
  </div>
